/* css reset */
*{
    padding: 0;
    margin: 0;
}

.imp{
    font-size: 36px;
    flex-direction: column;
    position: relative;
}

/* main heading */
#main h2{
    text-align: center;
    padding-top: 5px;
    margin-top: 8px;
    font-size: 2.7rem;
    font-family: 'Baloo Bhai 2', cursive;
    
}
/* table styling */
#Myval th,tr,td{
    border: 2px solid black;
    font-size: 1rem;
    margin:2px;
    padding: 6px;
    text-align: center;
}
#Myval{
    border: 2px solid black;
    
}

/*  */
.check{
    margin-top: 2px;
    font-size: 1.1rem;
}
/* when nothing to show */
#nothing{
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}
/* button to calculate button */
#cal{
    text-align: center;
}

/* to show message of expenses income*/
#message{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 2px;
}
#jack{
    font-size: 1.1em;
    font-family: sans-serif;
}
#king{
    font-size: 1.1rem;
    font-family: sans-serif;
}
#cat{
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 500;
    
}
#cat input{
    height: 18px;
}